.order-btn {
    display: inline-block;
    padding: 10px 20%;

    margin-left: 20%;
    max-width: 98%;


    background: $darkGrey;

    font: 400 1.7rem/1 "LibelSuitRg", Arial, sans-serif;
    text-decoration: none;
    color: $white;
    text-align: center;
}