.contacts {

    &__wrapper {
        display: flex;
        position: relative;
        //padding-left: 30%;
        padding-bottom: 100px;

        align-content: flex-end;
    }
    &__content {
        display: flex;
        //width: calc(100% - 370px);
        width: 100%;
        margin-left: auto;
        margin-right: 0;
    }
    &__text {
        width: 550px;
        padding-left: 30%;
    }
    &__title {
        font: 400 3rem/1 "LibelSuitRg", Arial, sans-serif;
        padding-bottom: 20px;
    }
    &__address {
        font: 400 1.6em/1 "LibelSuitRg", Arial, sans-serif;
        padding-bottom: 30px;
    }
    &__phone {
        font: 400 1.8rem/1.2 "LibelSuitRg", Arial, sans-serif;
        padding-bottom: 50px;
    }
    &__btn {
        display: block;
        width: 295px;
        border-bottom: 1px dashed #000000;
        padding: 10px 0;

        font: 400 1.8rem/1 "LibelSuitRg", Arial, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        color: #000000;

        &:hover {
            background: #dadada;
        }
    }
    &__form-wrapper {
        width: 350px;
        //padding-top: 40px;

        form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
    &__form-title {
        width: 100%;
        font: 400 3rem/1.2 "LibelSuitRg", Arial, sans-serif;
    }
    &__field {
        position: relative;
        width: 45%;
        //display: inline-block;
        border-bottom: 1px solid #000000;
        padding-top: 20px;

        input {
            width: 100%;
            font: 400 1.8rem/1.2 "LibelSuitRg", Arial, sans-serif;
            border: none;
            &:active,
            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
        textarea {
            font: 400 1.8rem/1.2 "LibelSuitRg", Arial, sans-serif;
            width: 100%;
            resize: none;
            border: none;
            &:active,
            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
        &_text {
            width: 100%;
        }
    }
    .feedback-error {
        position: absolute;
        right: 0;
        bottom: 2px;
        //transform: translate(0, -50%);
        font: 400 1.2rem/1.2 "LibelSuitRg", Arial, sans-serif;
        color: #ff0000;
    }
    #response-message {
        display: block;
        text-align: left;
        padding: 40px 0;
        font: 400 1.8rem/1.2 "LibelSuitRg", Arial, sans-serif;
    }
    &__submit {
        width: 295px;
        text-align: left;
        padding-top: 20px;
        input {
            border: 1px solid #000000 !important;
            background: #cccccc;
            width: auto !important;
            padding: 10px 35px;
            font: 400 1.8rem/1.2 "LibelSuitRg", Arial, sans-serif;

        }
    }
    &__social {
        padding-top: 110px;
        font: 400 1.8rem/1 "LibelSuitRg", Arial, sans-serif;
    }
    &__social-title {
        padding-bottom: 15px;
    }
    &__social-btn {

    }
    &__map {
        width: calc((100% - 350px)/2);
        //max-height: 500px;
        height: 100%;
        position: absolute;
        right: 0;
        top: -25px;

        text-align: right;
        font: 400 1.8rem/1 "LibelSuitRg", Arial, sans-serif;
    }
    .xdsoft_datetimepicker {
        font: 400 1.8rem/1 "LibelSuitRg", Arial, sans-serif;
        padding: 12px;
    }
    .xdsoft_datetimepicker .xdsoft_calendar td,
    .xdsoft_datetimepicker .xdsoft_calendar th {
        border: none;
        border-bottom: 1px solid #000000;
        background: #ffffff;
        font-size: 1.8rem;
    }
    .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
    .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
    .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
        background: $darkGrey;
    }
    .xdsoft_time_box {
        border: none;
    }
    .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div {
        font-size: 1.6rem;
    }
    .xdsoft_datetimepicker .xdsoft_label {
        font-size: 1.8rem;
    }
}
